---
import "@fontsource-variable/onest";
import "../styles/global.css";

interface Props {
	title: string;
	description: string;
}
const { title, description } = Astro.props as Props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		<meta name="description" content={description} />
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html {
		font-family: "Onest Variable", system-ui, sans-serif;
		scroll-behavior: smooth;
	}
	html,
	body {
		
	}
	
</style>
<!-- IMAGEN
<div
    class="relative max-w-sm transition-all duration-300 filter grayscale hover:grayscale-0 flex"
    id="imagen"
>
    <img id="clic" src="/src/assets/caedes.webp" alt="" />
</div>
<div class="flex items-center justify-center">
    <p
        class="hidden text-3xl tracking-widest font-extrabold text-red-900/10 pt-10"
        id="contra"
    >
        ΚΑΗΔΗΣ
    </p>
</div>
 -->