---
import "@fontsource-variable/onest";
import "../styles/global.css";

interface Props {
	title: string;
	description: string;
}
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<title>{title}</title>
		<meta name="description" content={description} />
	</head>
	<body class="bg-gradient-to-r from-[#4e1919] to-[#1f1818]">
		<slot />
	</body>
</html>

<style>
	html {
		font-family: "Onest Variable", system-ui, sans-serif;
		scroll-behavior: smooth;
	}
	html,
	body {
		
	}
	
</style>